<head>
<style>
head{
}

body, html {
    height: 100%;
}
body {
background-color: lightblue


}

body {
    background-color: grey;

}

h1 {
    color: #D09683;
    text-align: center;
    font: "couri";
    font-size: 40px;

}
.parallax {
    /* The image used */
    background-image: url("stemhkbanner.jpg");

    /* Full height */
    height: 90%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2 {
    /* The image used */
    background-image: url("gradeschoolbanner.jpg");

    /* Full height */
    height: 90%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3{
  background-image: url("middleschoolbanner.jpg");

  /* Full height */
  height: 90%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.parallax4{
  background-image: url("highschoolbanner.jpg");

  /* Full height */
  height: 90%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}

.parallax5{
  background-image: url("onlinebanner.jpg");

  /* Full height */
  height: 90%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}
ul{
  font-family: "sans-serrif, Times, serif";
  font-size: 25px;
  color: #F1F1F2;
}
a{

  color: #F1F1F2;
}
p {
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    color: white;

    ul {list-style-type: none;}
    body {font-family: Verdana, sans-serif;}

}

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}



.buttons{
  text-align: center;
 display: inline-block;
 position: absolute;
 top: 115%;
 left: 25%;
 bottom: auto;

}
mark{

  background-color: grey;
}
.box{
background-color: black;
background: silver;
text-align: center;
color: #5da2d5;

background-color: black;

}




.button:hover{
background: black;
color: white;


}

.button {


width: 150px;
height: 100px;
display: table-row;
color: black;
padding: 16px 32px;
margin: 4px 2px;
display: inline-block;
border-radius: 0px;
background: #5da2d5;
text-align: center;
font-size: 20px;
}



hr {
height: 4px;
color: #A1D6E2;
background-color: #A1D6E2;
border-color: #A1D6E2;
}

img {
    width: 100%;
    height: auto;
}


</style>
</head>
